
<div style="padding: 5% 5% 0% 5%;">
  <h2>
    Using Observables:
  </h2>
  <div style="display: flex; justify-content: space-around;">
    <button (click)="startemission()">Start Emission</button>
    <button (click)="pause()">Pause Emission</button>
    <button (click)="restart()">Resume Emission</button>
    <button (click)="clear()">Clear Emission</button>
  </div>
  <div>
    <div *ngFor="let item of list"><p style="font-weight: 500;
      font-size: 1.45rem;">{{item}}</p> </div>
  </div>
</div>

